@import "root.css";

:root {
    --sona-black0:       #0b0115;
    --sona-black1:       #0c0112;
    --sona-purple0:      #43089b;
    --sona-purple1:      #7400ae;
    --sona-purple2:      #390059;
    --sona-white:        #ffffff;

    --sona-ui-purple:    #1c0038;
}

.box {
    border: solid 2px var(--sona-ui-purple);
    background-color: var(--sona-ui-purple);
}

.divider {
    border: 2px solid var(--sona-white);
}

.header {
    color: var(--sona-white);
    font-size: 1.5em;
}

a {
    color: var(--sona-purple1);
}

body {
    background-color: var(--sona-black0);
    color: var(--sona-white);
}

img {
    max-width: 1080px;
    width: 100%;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}