@import "root.css";

:root {
    --fursona-black0:       #0b0115;
    --fursona-black1:       #0c0112;
    --fursona-purple0:      #43089b;
    --fursona-purple1:      #7400ae;
    --fursona-purple2:      #390059;
    --fursona-white:        #ffffff;

    --fursona-ui-purple:    #1c0038;
}

.box {
    border: solid 2px var(--fursona-ui-purple);
    background-color: var(--fursona-ui-purple);
}

.divider {
    border: 2px solid var(--fursona-white);
}

.name {
    font-family: Fira Sans Black;
    font-size: 2.5em;
    color: var(--fursona-white);
}

a {
    color: var(--fursona-purple1);
    text-decoration: none;
    border-bottom: 3px solid;
}

body {
    background-color: var(--fursona-black0);
    font-family: Fira Sans Black;
    color: var(--fursona-white);
}

img {
    display: block;
    border-radius: 2px;

    max-width: 1080px;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
}