@import "root.css";

.box {
    border: solid 2px var(--bg2);
    background-color: var(--bg2);
}

.divider {
    border: solid 2px var(--fg2);
}

.header {
    color: var(--green1);
}

.important {
    color: var(--red1)
}

.multi {
    background-color: var(--bg1);
    border-color: var(--bg1);
    border-radius: 3px;
}

.subheader, .subsection {
    color: var(--orange1);
}

a {
    color: var(--fg0);
}

body {
    background-color: var(--bg1);
    color: var(--fg1);
}

code {
    background-color: var(--bg1);
    border-color: var(--bg1);
    border-radius: 3px;
    color: var(--fg1);
}