@import "root.css";

.box {
    border: solid 2px var(--bg2);
    background-color: var(--bg2);
}

.divider {
    border: solid 2px var(--fg2);
}

.name {
    font-family: Fira Sans Black;
    font-size: 2.5em;
    color: var(--green1);
    margin: 0;
}

.subname {
    margin-top: 0px;
    margin-bottom: 0.8em;
    color: var(--orange1);
}

a {
    color: var(--fg0);
}

body {
    font-family: Fira Sans;
    font-size: 1.21em;
    font-kerning: auto;

    background-color: var(--bg1);
    color: var(--fg1);
}

li, p {
    line-height: 1.6em;
}