@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,900');
@import url('https://fonts.googleapis.com/css?family=Fira+Code');

.box {
    max-width: 60vw;
    width: 90%;

    margin: auto;
    margin-top: 4vh;
    padding: 4vh;
    border-radius: 10px;
}

.container {
    max-width: 95%;
    margin: auto;
}

.divider {
    width: 100%;
    border-radius: 2px;
}

/* 
- Header should be used with h1 and subheader/subsection with h3
- Subheader should be used under header, subsection should be used for subsections
*/

.header {
    font-size: 2rem;
    margin-top: 0px; 
    margin-bottom: 0px;
}

.multi {
    font-family: Fira Code;
    font-size: 0.9rem;
    
    width: 95%;
    margin: auto;
    padding: 1rem;
    overflow-wrap: break-word;
}

.subheader {
    margin-top: 0px;
    margin-bottom: 0.4rem;
}

.subsection {
    margin-top: 0.4vh;
    margin-bottom: 0.4vh;
}

code {
    font-family: Fira Code;
    font-size: 0.9rem;
    border: solid 3px;
}

html {
    font-family: Fira Sans;
    font-size: calc(1rem + 0.4vw);
}

img {
    display: block;
    border-radius: 3px;

    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4vh;
    margin-bottom: 0.4vh;
}

li, p {
    line-height: 1.6rem;
}