/* Using Adwaita color scheme, here are the colors I use:
  Blue 4:     #1C71D8
  Purple 4:   #813D9C
  Dark 2:     #5E5C64
*/

/* All the classes at the top */

.intro {
  background-color: #813D9C;
  text-align: center;
}

.title {
  font-size: 2.0em;
  line-height: 1.25;
}

body {
  font-family: "Work Sans", sans-serif;
}


