/* Using Adwaita color scheme, here are the colors I use:
  Blue 4:     #1C71D8
  Purple 4:   #813D9C
  Light 2:    #F6F5F4
  Dark 2:     #5E5C64
  Dark 5:     #000000
*/

html {
  -text-rendering: optimizeLegibiliy !important;
  -moz-osx-font-smoothing: grayscale !important;
}

@font-face {
  font-family: "Cantarell";
  src: url('fonts/Cantarell-VF.otf');
  font-weight: 400;
}

.bio {
  background-color: #F6F5F4;
  margin: 0 0 2rem;
  padding: 1rem 0 1rem;
  text-align: left;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  background-color: #F6F5F4;
  margin: 0 0 2rem;
  padding: 2rem 0 2rem;
}

.subtitle {
  font-size: 1.4rem;
  color: #5E5C64;
}

.name {
  font-size: 4.0em;
  font-weight: 900;
}

.text {
  font-size: 1.1rem;
}

.title {
  font-size: 3rem;
  line-height: 0.2;
}

hr.divider {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

hr.smaller {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

body {
  font-family: "Cantarell";
  color: #000000;
  line-height: 0.2;
  font-size: 22px;
  margin: 0;
  padding: 0;
  
  background-color: #F6F5F4;
}


